<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-archive fa-fw w3-margin-right 
    w3-xxlarge w3-text-teal"></i>PROYECTS 
    <button class="b"><i class="material-icons">library_add</i></button></h2>
  
    <tr *ngFor="let work of miPortFolio.work">

      <hr>

    <div class="w3-container">
      <h5 class="w3-opacity"><b>{{work.working}}</b></h5>

      

      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{work.start}} <span class="w3-tag w3-teal w3-round">{{work.finish}}</span>
        <button class="btn"><i class="fa fa-trash"></i></button>
        <button class="bt"><i class="fa fa-edit"></i></button></h6>
      <p>{{work.description}}</p>
      
    </div>
  </tr>
    
    
  </div>   