<br>
<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{miPortfolio.infobasica.condition}}<button class="b"><i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>
<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{miPortfolio.infobasica.livenow}}<button class="b"><i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>
<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{miPortfolio.infobasica.email}}<button class="b"><i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>
<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{miPortfolio.infobasica.telefono}}<button class="b"><i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>
<hr>