
   <!-- Left Column -->

   
   <div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-display-container">
      <img src="https://i.postimg.cc/J0My79nv/FOTOFINAL.jpg" alt="Avatar" style="width:100%">
      <!-- <app-photo-gallery></app-photo-gallery> -->
      <div class="w3-display-bottomleft w3-container w3-text-black">
        <h3><b>
            Sequeira Alejo</b></h3>
      </div>
    </div>

    <div class="w3-container">

      <app-listar-inf></app-listar-inf>
      <app-listar-ski></app-listar-ski>
      
      <hr>
      <app-listar-lan></app-listar-lan>
      <br><br>

    </div>
  </div><br>

<!-- End Left Column -->

