<p class="w3-large"><b><i class="fa fa-laptop fa-fw w3-margin-right w3-text-teal"></i>SKILLS       

</b><button (click)="registrarSkills()"  class="b">
  <i class="material-icons">library_add</i></button></p>
        
    <tr *ngFor="let skill of ski">
      
      <h6><b>{{skill.titulo}}   </b></h6>
      <td>
      <button (click)= "eliminarSkills(skill.id)" class="btn">
        <i class="fa fa-trash"></i></button>

        <button (click)="actualizarSkills(skill.id)" class="bt">
          <i class="fa fa-edit"></i></button>
        
        <br>
      
      <br>
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-round-xxlarge w3-teal" 
        style="height:24px;margin-right: 40px;width: 209px"></div>
      </div>
    </td>
      
    </tr>