<div class="skills">
  
  <h2>SKILLS<button (click)="registrarSkills()" class="btn-add">
    <i class="material-icons">library_add</i> Add Skill
  </button></h2>
  
  

  <table class="skills-table">
    <tbody>
      <tr *ngFor="let skill of ski">
        <td>
          <h4>{{skill.titulo}}</h4>
          
          <div>
            <button (click)="eliminarSkills(skill.id)" class="btn">
              <i class="fa fa-trash"></i> 
            </button>

            <button (click)="actualizarSkills(skill.id)" class="bt">
              <i class="fa fa-edit"></i>
            </button>
          </div>
          
          <div class="progress-bar">
            <div class="progress" [style.width.%]="skill.porcentaje">
              
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
