<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16">
    <i class="fa fa-university fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>EDUCATION 
    
  </h2>
  
  <div *ngFor="let education of educations" class="w3-container">
    <h5 ><b>{{education.titulot}}<hr></b></h5>
    <h6 class="w3-text-teal">
      <i class="fa fa-calendar fa-fw w3-margin-right"></i>{{education.iniciot}} ~ <span class="w3-tag w3-teal w3-round">{{education.fint}}</span>
    </h6>
    <p>{{education.descriptiont}}
      
    </p>
  </div>
</div>

