


<div class="w3-container w3-card w3-white w3-margin-bottom">
    
  
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>EDUCATION <button class="b"><i class="material-icons">library_add</i></button></h2>
        
        
        <tr *ngFor="let education of miPortFolio.education">
          
          

          <hr>
        
          <div class="w3-container">
          <h5 class="w3-opacity"><b>{{education.school}}</b></h5>
          
          

          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{education.start}}<span class="w3-tag w3-teal w3-round">{{education.finish}}</span><button class="btn"><i class="fa fa-trash"></i></button>
            <button class="bt"><i class="fa fa-edit"></i></button></h6>
          
          <p>{{education.career}}</p>
          
        </div>
        
        
        
      </tr>
    
      </div>
