<div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-archive fa-fw w3-margin-right 
      w3-xxlarge w3-text-teal"></i>PROYECTS 
      <button (click)="registrarProyects()"  class="b"><i class="material-icons">library_add</i></button></h2>
      <hr>
      <tr *ngFor="let pro of proyectss">
  
        
  
      <div class="w3-container">
        <h5 class="w3-opacity"><b>{{pro.titulot}}</b></h5>
  
        
  
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right">

        </i>{{pro.iniciot}} <span class="w3-tag w3-teal w3-round">{{pro.fint}}</span>
          </h6>
        <p>{{pro.descriptiont}}<button (click)="eliminarProyects(pro.id)"  class="btn">
          <i class="fa fa-trash"></i></button>

        <button (click)="actualizarProyects(pro.id)" class="bt"><i class="fa fa-edit"></i></button></p>
        
      </div>
    </tr>
      
      
    </div>   