<br>

<tr *ngFor="let infos of inf">

<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal">
    </i>{{infos.description}}<button (click)="actualizarInfoBasica(infos.id)" class="b">
    <i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>

<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal">
    </i>{{infos.location}}<button (click)="actualizarInfoBasica(infos.id)" class="b">
    <i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>

<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal">
    </i>{{infos.email}}<button (click)="actualizarInfoBasica(infos.id)" class="b">
    <i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>

<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal">
    </i>{{infos.numero}}<button (click)="actualizarInfoBasica(infos.id)" class="b">
    <i class="material-icons" style="font-size:15px;color:black">edit</i></button></p>

</tr>

<hr>