<p class="w3-large"><b><i class="fa fa-laptop fa-fw w3-margin-right w3-text-teal"></i>SKILLS       

</b><button class="b"><i class="material-icons">library_add</i></button></p>
        
    <tr *ngFor="let skill of miPortfolio.skill">
      <br>
     <h6><b>{{skill.js}}   </b><button class="b"><i class="material-icons" 
      style="font-size:15px;color:black">edit</i></button></h6>
     
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-round-xxlarge w3-teal" style="height:24px;width: 209px"></div>
      </div>
      
  </tr>