
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="empleados" routerLinkActive="active"
       class="nav-link" >Lista de empleados</a>
    </li>


    <li class="nav-item">
      <a routerLink="registrar-empleado" 
      routerLinkActive="active" class="nav-link" >Añadir empleado</a>
    </li>

    <li class="nav-item">
      <a routerLink="registrar-languages" 
      routerLinkActive="active" class="nav-link" >Añadir LANGUAGES</a>
    </li>

    <div class="correte">
    <div class="w3-animate-left">
      <div class="w3-container">
    <a href="https://www.instagram.com/aleseq__/" target="_blank"> <i class="fa fa-instagram w3-hover-opacity" style="font-size:200%;"></i></a>
  </div>
</div>
</div>

<div class="correte2">
<div class="w3-animate-left">
  <div class="w3-container ">
    <a href="https://www.facebook.com/Sequeiii" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity" style="font-size:200%;"></i></a></div></div></div>
    
    <div class="correte3">
    <div class="w3-container ">
      <div class="w3-animate-left">
      <a href="https://www.facebook.com/Sequeiii" target="_blank"><i class="fa fa-github w3-hover-opacity" style="font-size:200%;"></i></a></div></div></div>
      
      <div class="correte4">
      <div class="w3-animate-left">
      <div class="w3-container ">
        <a href="https://www.facebook.com/Sequeiii" target="_blank"><i class="fa fa-linkedin w3-hover-opacity" style="font-size:200%;"></i></a></div></div></div>
      
      
  </ul>
</nav>

<!--<app-listar-about></app-listar-about>  -->



<!--
<h1 class="text-center">{{title}}</h1>-->
<div class="container">

  <router-outlet></router-outlet>
</div>