.correte {
    position: absolute;
  bottom: 20%;
  right: 20%;
}

.correte2 {
    position: absolute;
  bottom: 20%;
  right: 17%;
}
.correte3 {
    position: absolute;
  bottom: 20%;
  right: 14%;
}.correte4 {
    position: absolute;
  bottom: 20%;
  right: 11%;
}