<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  
    <ul class="navbar-nav">
  
<div class="correte5">
    <div class="w3-animate-left">
      <div class="w3-container ">
        <a routerLink="/portfolio" 
        routerLinkActive="active" class="nav-link" ><i class="fa fa-home" style="font-size:200%;"></i></a></div></div></div>
    </ul></nav>
<div class="col-md-6 offset-md-3">

    <h3 class="text-center">Edición de educación</h3>    
    <form (ngSubmit)="onSubmit()" #workForm="ngForm">

        <div class="form-group">
            <label>titulo : </label>
            <input type="text" class="form-control" id="titulot" [(ngModel)]="work.titulot" name="titulot" required
                minlength="4" maxlength="20" placeholder="Digite un titulo " #titulot="ngModel">
            <div class="alert alert-danger" *ngIf="titulot.invalid && (titulot.dirty || titulot.touched)">
                <div *ngIf="titulot.errors.required">
                    Digite un titulo por favor
                </div>
                <div *ngIf="titulot.errors.minlength">
                    El titulo tiene que contener como minimo 4 caracteres
                </div>
                <div *ngIf="titulot.errors.maxlength">
                    El titulo tiene que tener como maximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Fecha de inicio : </label>
            <input type="text" class="form-control" id="iniciot" [(ngModel)]="work.iniciot" name="iniciot"
                required minlength="1" maxlength="20" placeholder="Digite el inicio " #iniciot="ngModel">
            <div class="alert alert-danger" *ngIf="iniciot.invalid && (iniciot.dirty || iniciot.touched)">
                <div *ngIf="iniciot.errors.required">
                    Digite el inicio por favor
                </div>
                <div *ngIf="iniciot.errors.minlength">
                    El inicio tiene que contener como minimo algun caracter
                </div>
                <div *ngIf="iniciot.errors.maxlength">
                    El inicio tiene que tener como maximo 20 caracteres
                </div>
            </div>
        </div>


        
        <div class="form-group">
            <label>Fecha de finalización : </label>
            <input type="text" class="form-control" id="fint" [(ngModel)]="work.fint" name="fint"
                required minlength="1" maxlength="20" placeholder="Digite el fin " #fint="ngModel">
            <div class="alert alert-danger" *ngIf="fint.invalid && (fint.dirty || fint.touched)">
                <div *ngIf="fint.errors.required">
                    Digite el fin por favor
                </div>
                <div *ngIf="fint.errors.minlength">
                    El fin tiene que contener como minimo algun caracter
                </div>
                <div *ngIf="fint.errors.maxlength">
                    El fin tiene que tener como maximo 20 caracteres
                </div>
            </div>
        </div>


        
        <div class="form-group">
            <label>Incluya una breve descripción </label>
            <input type="text" class="form-control" id="descriptiont" [(ngModel)]="work.descriptiont" name="descriptiont"
                required minlength="1" maxlength="140" placeholder="Digite la descriptiont " #descriptiont="ngModel">
            <div class="alert alert-danger" *ngIf="descriptiont.invalid && (descriptiont.dirty || descriptiont.touched)">
                <div *ngIf="descriptiont.errors.required">
                    Digite la descripcion por favor
                </div>
                <div *ngIf="descriptiont.errors.minlength">
                    La descripcion tiene que contener como minimo algun caracter
                </div>
                <div *ngIf="descriptiont.errors.maxlength">
                    La descripcion tiene que tener como maximo 20 caracteres
                </div>
            </div>
        </div>

        

        <button class="btn btn-success" [disabled]="!workForm.form.valid">Guardar</button>
    </form>
</div>