.correte {
    position: absolute;
  bottom: 20%;
  right: 15%;
}

.correte2 {
    position: absolute;
  bottom: 20%;
  right: 11%;
}
.correte3 {
    position: absolute;
  bottom: 20%;
  right: 7%;
}.correte4 {
    position: absolute;
  bottom: 20%;
  right: 3%;
}
