<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
  
  <ul class="navbar-nav">

<div class="correte5">
  <div class="w3-animate-left">
    <div class="w3-container ">
      <a routerLink="/portfolio" 
      routerLinkActive="active" class="nav-link" ><i class="fa fa-home" style="font-size:200%;"></i></a></div></div></div>
  </ul></nav>
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de skills</h3>
    <form (ngSubmit)= "onSubmit()" #skillsForm = "ngForm">

      <div class="form-group">
        <label>titulo : </label>
        <input type = "text"
        class="form-control"
        id = "titulo"
        [(ngModel)] = "skills.titulo"
        name = "titulo"
        required
        minlength="2"
        maxlength="30"
        placeholder="Digite su titulo "
        #titulo = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "titulo.invalid && (titulo.dirty || titulo.touched)">
          <div *ngIf = "titulo.errors.required">
            Digite su titulo por favor
          </div>
          <div *ngIf = "titulo.errors.minlength">
            El titulo tiene que contener como minimo 2 caracteres
          </div>
          <div *ngIf = "titulo.errors.maxlength">
            El titulo tiene que tener como maximo 30 caracteres
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>porcentaje : </label>
        <input type = "number"
        class="form-control"
        id = "porcentaje"
        [(ngModel)] = "skills.porcentaje"
        name = "porcentaje"
        required
        minlength="1"
        maxlength="3"
        min="1" 
        max="100"
        placeholder="Digite su porcentaje "
        #porcentaje = "ngModel"
        >
        <div class="alert alert-danger" *ngIf= "porcentaje.invalid && (porcentaje.dirty || porcentaje.touched)">
          <div *ngIf = "porcentaje.errors.required">
            Digite su porcentaje por favor
          </div>
          <div *ngIf = "porcentaje.errors.minlength && porcentaje.errors.min">
            El porcentaje tiene que contener como minimo 1 caracteres
          </div>
          <div *ngIf = "porcentaje.errors.maxlength && porcentaje.errors.max">
            El porcentaje tiene que tener como maximo 3 caracteres
          </div>
        </div>
      </div>

      
  
      <button class="btn btn-success" [disabled]= "!skillsForm.form.valid">Guardar</button>
    </form>
  </div>