
   <!-- Left Column -->


   <div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-display-container">
      <img [src]="" style="width:100%" alt="Avatar">
      <app-photo-gallery></app-photo-gallery>
      <div class="w3-display-bottomleft w3-container w3-text-black">
        <h3><b>
            Sequeira Alejo</b></h3>
      </div>
    </div>

    <div class="w3-container">

      <app-listar-info></app-listar-info>
      <app-listar-skills></app-listar-skills>
      
      <hr>
      <app-listar-languages></app-listar-languages>
      <br><br>

    </div>
  </div><br>

<!-- End Left Column -->

